[Oo]bj
[Rr]elease
[Dd]ebug
packages
*.exe
*.dll
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad

#OS junk files
[Tt]humbs.db
*.DS_Store

*.userprefs
*.pidb

# NuGet Packages Directory
packages
*.nupkg

# Allow NuGet specific exes and dlls
!.nuget/Microsoft.Build.dll
/Bin/Release.zip
/Bin
/.vs/SteamBot/v15/Server/sqlite3/storage.ide-wal
/.vs/SteamBot/v15/Server/sqlite3/storage.ide-shm
/.vs/SteamBot/v15/Server/sqlite3/storage.ide
/.vs/SteamBot/v15/Server/sqlite3/db.lock
/.vs/SteamBot/v15/Server/sqlite3
/.vs/config/applicationhost.config
